            body {
                font-family: "Courier New", monospace;
                background-color: white
            }
        
            #title {
                background: white;
                border: 30px solid  #0099ff;
                color:  #0099ff;
                margin: auto;
                width: 300px; 
                text-align: center; 
                font-size: 130%; 
                padding: 40px; 
                border-radius: 40px; 
                border-width: 10px;
            }
            #titleHeader{
              background-color:#0099ff;  
            }
            
           #btnBusTimes{
              background-color:#0099ff;
              color: white;
              font-family: "Courier New", monospace;
              font-size: 300%;
              border-radius: 20px;
              width: 500px;
              cursor: pointer;
              border: solid ;
              text-align: center;
           }
           

           .divBtn{
                background-color: white;
                border: none;
                color: white;
                padding: 90px;
                text-align: center;
                font-size: 16px;
                margin: auto;
           }
           .resultsDiv{
                background-color: white;
                color: #0099ff;
                border: solid;
                border-radius: 40px;
                padding: 90px;
                text-align: left;
                font-size: 16px;
                margin: auto;
           }
           .divider{
               border-width: 1px 1px 0;
               border-style: solid;
               border-color: #0099ff; 
               width: 30%;
               margin-right: 70%
               
           }